/* src/pages/UserDetails.css */

/* General styling */
.user-details {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(234, 241, 247);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1.5px solid #9d9d9d;
}

.user-details h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.user-details h3 {
  margin-top: 20px;
  color: #555;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

.user-details p {
  font-size: 1rem;
  color: #444;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.user-details p strong {
  width: 100px;
  color: #222;
  font-weight: 600;
}

.user-details .highlight {
  background-color: #f0f8ff;
  padding: 5px 10px;
  border-radius: 5px;
}

.edit-btn,
.delete-btn {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem 1rem;
  border: 1.5px solid #000000;
  font-size: 0.95rem;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

/* Details button */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.edit-btn {
  background-color: transparent;
  color: #0040ff;
}

.edit-btn:hover {
  background-color: #0073ff;
  color: #ffffff;
  border: none;
}

/* Delete button */
.delete-btn {
  background-color: transparent;
  color: #ff0000;
}

.delete-btn:hover {
  background-color: #cc0000;
  color: #fff;
  border: none;
}

/* Modal styles */
.modal {
  max-width: 600px;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .user-details {
    margin: 10px;
    padding: 15px;
  }

  .user-details h2 {
    font-size: 1.5rem;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .buttons button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .user-details h2 {
    font-size: 1.2rem;
  }

  .user-details p {
    font-size: 0.9rem;
  }
}
